<h1>jQuery Demos</h1>

<ul>
  <li><%= link_to "selectors", :action => "selectors" %></li>
  <li><%= link_to "events", :action => "events" %></li>
  <li><%= link_to "effects", :action => "effects" %></li>
  <li><%= link_to "animation", :action => "animation" %></li>
  <li><%= link_to "ajax", :action => "ajax" %></li>
  <li><%= link_to "sandbox", :action => "sandbox" %></li>
</ul>

