<html>
  <head>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.3.2.js" %>
    <%= javascript_include_tag "jquery.color.js" %>
    <%= javascript_include_tag "code-highlighter.js" %>
    <%= javascript_include_tag "languages.js" %>
    <%= stylesheet_link_tag "code-highlighter" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

